.portfolio {
	margin: auto;
	max-width: 75%;
	margin-top: 5em;
}

.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 3em;
}

.item a {
	text-decoration: none;
	color: inherit;
	display: flex;
	border-radius: 4px;
	overflow: hidden;
}

.item a:hover {
	transform: scale(1.02);
}

.content {
	padding: 1rem;
}
.item h2 {
	margin: 0 0 1rem 0;
}

.heading {
	text-align: center;
	color: #a8e0ff;
	font-size: 4em;
}

.item img {
	width: 33%;
}

@media (max-width: 1200px) {
	.list {
		display: flex;
		flex-direction: column;
	}
}
