.header {
	display: flex;
	padding: 1rem 0;
	justify-content: space-between;
	align-items: center;
}

.header h1 {
	margin: 0;
	margin-left: 5rem;
	color: #a8e0ff;
}

.list {
	display: flex;
	margin-right: 2rem;
}

.list a {
	text-decoration: none;
	color: white;
}

.list li {
	padding: 0.5rem 1rem;
	border-radius: 10px;
	color: white;
}

.list a:hover {
	color: #989898;
}

.list a.active {
	color: lightblue;
}

@media (max-width: 768px) {
	.list {
		margin: 0;
	}
}
