.contact {
	text-align: center;
	font-size: 4em;
	color: #a8e0ff;
}

.control-group .form-control {
	min-width: 15rem;
}

.form {
	max-width: 40rem;
	margin: 2rem auto;
}

.form label,
.form input,
.form textarea {
	display: block;
	width: 100%;
}

.form input,
.form textarea {
	font: inherit;
	padding: 0.25rem;
}

.form textarea {
	resize: none;
}
.actions {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
}

.actions button {
	font: inherit;
	cursor: pointer;
	padding: 0.5rem 1.5rem;
	border: none;
	border-radius: 5px;
}

.error-text {
	color: #b40e0e;
}

.form-control {
	margin-bottom: 1rem;
}

.form-control input,
.form-control label {
	display: block;
}

.form-control label {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
	font: inherit;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #daf2ff;
}

.form-control input:focus,
.form-control textarea:focus {
	outline: none;
	border-color: #daf2ff;
	background-color: #daf2ff;
}

.invalid input,
.invalid textarea {
	border: 1px solid #b40e0e;
	background-color: #fddddd;
}

.invalid input:focus {
	border-color: #ff8800;
	background-color: #fbe8d2;
}

.submit {
	background-color: #a8e0ff;
}

.submit:disabled {
	background-color: #e0e0e0;
}

.close {
	outline: none;
	background-color: #a8e0ff;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	text-align: right;
	border: 1px solid #a8e0ff;
}

.close:hover {
	cursor: pointer;
	border: 1px solid navy;
}
