.container {
	background-color: white;
}
.content {
	display: flex;
	flex-direction: row;
	margin: auto;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	color: black;
	width: 60%;
	padding: 1rem;
}

.imgContainer {
	width: 30%;
	padding-top: 30%;
	position: relative;
	overflow: hidden;
}

.circle-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.summary {
	flex: 2;
	text-align: left;
}

@media (max-width: 768px) {
	.content {
		flex-direction: column;
		width: 90%;
		gap: 0;
	}

	.imgContainer {
		width: 50%;
		padding-top: 50%;
		position: relative;
		overflow: hidden;
	}
}
