.project {
	max-width: 50rem;
	margin: 2rem auto;
	text-align: center;
}

.project img {
	width: 20rem;
	border-radius: 4px;
}

.actions {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.actions a,
.actions button {
	padding: 0.25rem 1rem;
	text-decoration: none;
	font: inherit;
	cursor: pointer;
	color: #a8e0ff;
	border: 2px solid #a8e0ff;
	border-radius: 4px;
}

.actions button:hover {
	transform: scale(1.1);
}

.actions button {
	background-color: transparent;
	border: none;
	color: #a8e0ff;
}
