.course-item {
	display: flex;
	padding: 12px 15px;
	margin-bottom: 0.5rem;
	color: #a8e0ff;
	text-align: left;
	background-color: transparent;
	border: 2px solid #a8e0ff;
}

.course-item h4 {
	margin: 0;
}
