.wrapper {
	width: 75%;
	margin: auto;
	margin-bottom: 2rem;
}

.wrapper h3 {
	font-size: 2em;
	color: #a8e0ff;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;
}

.experienceList {
	list-style-type: disc;
	margin-left: 0.5em;
}

.experience-item {
	display: flex;
	flex-direction: column;
	border: 2px solid #a8e0ff;
	border-radius: 10px;
	padding: 1rem;
}

.experience-item h4 {
	margin: 1rem 0;
}
